<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TBConfFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TBConfFrameworkWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>iOS.Conf.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>iOSConf.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F60A02C51E461F1B0050B7BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F60A02CD1E461F1C0050B7BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F61782B71E4728D100462509</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F61782E71E472A6400462509</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F6AA7F3D1E43B8CC007C55E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F6AA7F531E43B8CD007C55E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F6AA7F5E1E43B8CD007C55E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
